section.youtube#youtube
  .flex.flex--center
    .col-1
      .video-strip
      .flex-video <iframe src="https://www.youtube.com/embed/TSXeTnLig0M" frameborder="0" allowfullscreen></iframe>
    .col-1.order-first
      p.home-lead.outdented ...Postez videouri cu lucrarile mele...
      a(href="").home-cta Vezi pe YouTube
