mixin face
  li.face(style="background-image: url(http://fillmurray.com/80/80);")
    .bubble
      p 	Imi place ca pot sa vorbesc cu Bogdan despre cum sa imi gasesc fata cu benzina pentru ca se pricepe si eu urmeaza sa imi cumpar o Dacia 1300 si benzina este scuma in Romania si nu o sa ma pot plimba. 
      cite - Marius Iordache

section.mentoring
  .flex.flex--center
    .col-1
      ul.faces
        +face
        +face
        li.face.has-bubble-open(style="background-image: url(http://fillmurray.com/80/80);")
          .bubble
            p 	Imi place ca pot sa vorbesc cu Bogdan despre cum sa imi gasesc fata cu benzina pentru ca se pricepe si eu urmeaza sa imi cumpar o Dacia 1300 si benzina este scuma in Romania si nu o sa ma pot plimba. 
            cite - Marius Iordache
        +face
        +face
        +face
    .col-1
      p.home-lead.outdented ...Devenind mentor pentru oameni ca tine...
      a(href="").home-cta Intreaba-ma orice
      
