<section class="notes" id="notes"><div class="flex flex--center"><div class="col-2"><p class="home-lead">...Trimit ganduri prin email...</p><div class="notes-signup-box"><div id="mc_embed-signup">
  <form action="">
    <div id="mc_embed_signup_scroll">
      <div class="form-display">
        <div class="mc-field-group">
          <label for="mce-NAME">First Name </label>
          <input type="text" value="" name="NAME" class="" id="mce-NAME">
        </div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address </label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>      
        <input type="submit" value="Subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </div>
  </form>
</div>
</div></div></div><div class="flex flex--center"><div class="col-1"><p>Lorem ipsum dolor sit amet, veritus facilisi reprehendunt qui in, consul impedit tibique in ius, ius eu regione delectus.</p></div><div class="col-1"><p>Principale subiecte tratate in gandurile mele anterioare sunt...</p><ul><li><a href="">Cum sa fii original</a></li><li><a href="">Cum sa nu iti fie frica</a></li><li><a href="">Unde sa cauti</a></li></ul></div></div></section>